<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="common/reference :: css"></head>

<!-- Body Start -->
<body>

<div th:include="common/header :: nav"></div>
<main>
    -->
    <section class="section" style="background-image: url(/image/home-banner.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 m-15px-tb">
                    <div class="contact-form box-shadow">
                        <div class="font-alt m-0px m-20px-b">寻物启事信息</div>
                        <hr/>
                        <table class="col-md-12 text-center">
                            <tr style="background: #FFFFFF">
                                <td class="col-md-2"><img src="/image/home-banner.jpg" width="200"></td>
                                <td>ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</td>
                            </tr>
                            <tr style="background: #aaaaaa">
                                <td>2222</td>
                                <td>333</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<div th:include="common/footer :: copyright"></div>
<div th:include="common/reference :: js"></div>
</body>
</html>